<img src="../../../../assets/img/bannerprod.png" class="img-fluid" alt="Responsive image">
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-4" *ngFor="let Producto of producto">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top"  width="700" height="300"  [src]="Producto.imagen" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{Producto.nombre}}</h5>
          <p class="card-text">{{Producto.descripcion}}</p>
          <h4 class="card-number">{{ Producto.precio | currency:" ARS ":"symbol"}}</h4>
          <button  routerLink="productos/verproducto/{{Producto.id}}"  class="btn btn-primary">Ver Producto</button>
        </div>
      </div>
    </div>
    
    