<body class=" body">
<div class="form"  [formGroup]="form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" >

    <!-- ID  -->

    <div class="form-group">
      <label class="form-label" for="Id">Id</label>
      <input
      
        type="text"
        class="form-control"
        id="Id"
        required
        [(ngModel)]="id"
        name="Id"
        #name="ngModel"
        placeholder="Ingrese Id"
      />
    </div>
    <!-- NOMBRE  -->

    <div class="form-group">
      <label class="form-label" for="nombre">Nombre</label>
      <input
      formControlName="user"
        type="text"
        class="form-control"
        id="nombre"
        required
        [(ngModel)]="model.nombre"
        name="nombre"
        placeholder="Ingrese su nombre"
      />
    </div>

      <!-- PRECIO  --> 

    <div class="form-group">
      <label class="form-label" for="precio">Precio</label>
      <input
      formControlName="precio"
        type="number"
        class="form-control"
        id="precio"
        [(ngModel)]="model.precio"
        name="precio"	
        placeholder="Ingrese Precio"
      />
    </div>   

    <!-- DESCRIPCION  --> 

    <div class="form-group">
      <label class="form-label" for="descripcion">Descripcion</label>
      <input
      formControlName="descripcion"
        type="text"
        class="form-control"
        id="descripcion"
        [(ngModel)]="model.descripcion"
        name="descripcion"
        placeholder="Ingrese Descripción"	
      />
    </div>
    
    <!-- IMAGEN  --> 
l
    <div class="form-group">
      <label class="form-label" for="imagen">Imagen</label>
      <input
        type="text"
        class="form-control"
        id="imagen"
        [(ngModel)]="model.imagen"
        name="imagen"	
        placeholder="Ingrese link de Imagen"
      />
    </div>
    <br>
    <button type="submit" [disabled]="!form.valid" (click)="onSubmit()" class="btn btn-success">
      Enviar
    </button>
    <button type="submit" style="margin-left: 15px;" class="btn btn-primary" [disabled]="!form.valid" (click)="onEdit()">
      Editar
    </button>
  </form>
</div>

    <div class="table">
<table style="width:115rem;" class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Descripción</th>
      <th scope="col">Imagen</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Producto of producto">
      <td>{{Producto.id}}</td>
      <td>{{Producto.nombre}}</td>
      <td>{{ Producto.precio | currency:" ARS ":"symbol"}}</td>
      <td>{{Producto.descripcion}}</td>
      <td colspan ='4'><img [src] = "Producto.imagen" alt=""  height='200' width='200' /></td>
      <td><button class="btn btn-danger" id="editProducts" (click)="onDelete(Producto.id)" >Eliminar</button></td>
    </tr>
  </tbody>
</table>
</div>
</body>