<!-- 
<br>
<ng-template #divProducto>
<div class="container">
    <div class="row">
        <div class="col-4" *ngIf="!producto; else divProducto ">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top"  width="700" height="300"  [src]="Producto.imagen" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{Producto.nombre}}</h5>
          <p class="card-text">{{Producto.descripcion}}</p>
          <h4 class="card-number">{{ Producto.precio | currency:" ARS ":"symbol"}}</h4>
          <a href="#" class="btn btn-primary">Ver Producto</a>
        </div>
      </div>
    </div>
    -->

    
    