<div class="container">
    <br>
    <h2 style="text-align:center" class="my-4">Encontrá Variedad de Productos! </h2>
    <br>


    <div class="row">
      <div class="col-md-7">
        <a href="https://www.fanaticosdelasmascotas.cl/blog/banos-para-perros-dentro-de-la-casa-como-cuando-usarlos/" target="_blank">
          <img class="img-fluid rounded mb-3 mb-md-0" src="../../../assets/img/art1.png" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3>Kit de Baño</h3>
        <p>El mejor kit de baño para perros dentro de casa, Alfombra orientadora: para perros de distintos tamaños, te ayuda con el entrenamiento para usar el baño, ya que los atrae y retiene los olores. Lo puedes poner en el entorno del baño para evitar que se manche en caso de que “se equivoque” y también lo ayudará a identificar la zona permitida. También las puedes usar de manera independiente.</p>

      </div>
    </div>

    <hr>

      <div class="row">
        <div class="col-md-7">
          <a href="http://beitia.com.ar/index.php/producto/smug/" target="_blank">
            <img class="img-fluid rounded mb-3 mb-md-0" src="../../../assets/img/art2.png" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>Nuevo Smug!</h3>
          <p>Excelente Alimento balanceado completo para perros adultos
            Croquetas crocantes para mantener dientes sin sarro y aliento fresco.
            Alta palatabilidad.
            Con ácido linoleico para mantener la piel elástica y el pelaje sano y brillante.</p>

        </div>
      </div>
      
      <hr>
      <hr>


      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="../../../assets/img/art3.png" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>Hits para Gatos</h3>
          <p>Los nuevos productos de hits son muy buenos para el estomago de tu gato! Ahora dice ndea en vez de meow</p>

        </div>
      </div>

      
      <hr>


      <br>
      <h2 style="text-align:center" class="my-4">Encontrá Variedad de Productos! </h2>
      
    <div class="container d-flex justify-content-center mt-100">
        <div class="row">
            <div class="col-md-3">
                <div class="product-wrapper mb-45 text-center">
                    <div class="product-img"><!--href="#" --><a data-abc="true"> <img src="../../../assets/img/pro1.jpg" alt=""> </a>
                        <div class="product-action">
                            <div class="product-action-style"> <a href="#"> <i class="glyphicon glyphicon-plus-sign"></i> </a> <a href="#"> <i class="fa fa-heart"></i> </a> <a href="#"> <i class="fa fa-shopping-cart"></i> </a> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-wrapper mb-45 text-center">
                    <div class="product-img"> <!--href="#" --><a data-abc="true"> <img src="../../../assets/img/prod2.png" alt=""> </a>
                        <div class="product-action">
                            <div class="product-action-style"> <a class="action-plus" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#" data-abc="true"> <i class="fa fa-plus"></i> </a> <a class="action-heart" title="Wishlist" href="#" data-abc="true"> <i class="fa fa-heart"></i> </a> <a class="action-cart" title="Add To Cart" href="#" data-abc="true"> <i class="fa fa-shopping-cart"></i> </a> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-wrapper mb-45 text-center">
                    <div class="product-img"><!--href="#" --><a data-abc="true"> <img src="../../../assets/img/prod3.png" alt=""> </a>
                        <div class="product-action">
                            <div class="product-action-style"> <a class="action-plus" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#" data-abc="true"> <i class="fa fa-plus"></i> </a> <a class="action-heart" title="Wishlist" href="#" data-abc="true"> <i class="fa fa-heart"></i> </a> <a class="action-cart" title="Add To Cart" href="#" data-abc="true"> <i class="fa fa-shopping-cart"></i> </a> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-wrapper mb-45 text-center">
                    <div class="product-img"> <!--href="#" --><a data-abc="true"> <img src="../../../assets/img/prod4.png" alt=""> </a>
                        <div class="product-action">
                            <div class="product-action-style"> <a class="action-plus" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#" data-abc="true"> <i class="fa fa-plus"></i> </a> <a class="action-heart" title="Wishlist" href="#" data-abc="true"> <i class="fa fa-heart"></i> </a> <a class="action-cart" title="Add To Cart" href="#" data-abc="true"> <i class="fa fa-shopping-cart"></i> </a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>